<div class="stats-container">
    <stat-component statLabel="HP" [statValue]="hp" [highlight]="highlightStat(0)"></stat-component>
    <stat-component statLabel="Att" [statValue]="att" [highlight]="highlightStat(1)"></stat-component>
    <stat-component statLabel="Spd" [statValue]="spd" [highlight]="highlightStat(2)"></stat-component>
    <stat-component statLabel="Def" [statValue]="def" [highlight]="highlightStat(3)"></stat-component>
    <stat-component statLabel="Res" [statValue]="res" [highlight]="highlightStat(4)"></stat-component>
    <stat-component statLabel="Total" [statValue]="hp + att + spd + def + res"></stat-component>
</div>
