<label style="padding-left: 55px; font-weight: bold;">Skill</label>
<label style="padding-left: 292px; font-weight: bold;">Effect</label>
<label style="padding-left: 370px; font-weight: bold;">Inherited From</label>
<div style="display: flex; flex-direction: column;">
    <skill-component
        [skills]="wpns"
        skillLabel="WP"
        [skillValue]="wp.name"
        [skillDesc]="wp.description"
        [skillInheritance]="wp.inheritance"
        [sp]="wp.sp"
        (skillChange)="handleWeaponChange($event)"
        [containsSkillLevel]="selectedWeapon.refinable"
        [skillLevel]="refine"
        [skillLevels]="refines"
        (skillLevelChange)="handleWeaponRefineChange($event)"
        [subClearable]="true"
    ></skill-component>

    <skill-component
        [skills]="assists"
        skillLabel="Assist"
        [skillValue]="assist.name"
        [skillDesc]="assist.description"
        [skillInheritance]="assist.inheritance"
        [sp]="assist.sp"
        (skillChange)="handleAssistChange($event)"
        [containsSkillLevel]="false"
    ></skill-component>
    <skill-component
        [skills]="specials"
        skillLabel="Special"
        [skillValue]="special.name"
        [skillDesc]="special.description"
        [skillInheritance]="special.inheritance"
        [sp]="special.sp"
        (skillChange)="handleSpecialChange($event)"
        [containsSkillLevel]="false"
    ></skill-component>
    <skill-component
        [skills]="aSkills"
        skillLabel="A"
        [skillValue]="aSkill.name"
        [skillDesc]="aSkill.description"
        [skillInheritance]="aSkill.inheritance"
        [sp]="aSkill.sp"
        (skillChange)="handleASkillChange($event)"
        [containsSkillLevel]="selectedASkill && selectedASkill.skillLevels"
        [skillLevel]="aSubSkill"
        [skillLevels]="aSubSkills"
        (skillLevelChange)="handleASubSkillChange($event)"
        [subClearable]="false"
    ></skill-component>
    <skill-component
        [skills]="bSkills"
        skillLabel="B"
        [skillValue]="bSkill.name"
        [skillDesc]="bSkill.description"
        [skillInheritance]="bSkill.inheritance"
        [sp]="bSkill.sp"
        (skillChange)="handleBSkillChange($event)"
        [containsSkillLevel]="selectedBSkill && selectedBSkill.skillLevels"
        [skillLevel]="bSubSkill"
        [skillLevels]="bSubSkills"
        (skillLevelChange)="handleBSubSkillChange($event)"
        [subClearable]="false"
    ></skill-component>
    <skill-component
        [skills]="cSkills"
        skillLabel="C"
        [skillValue]="cSkill.name"
        [skillDesc]="cSkill.description"
        [skillInheritance]="cSkill.inheritance"
        [sp]="cSkill.sp"
        (skillChange)="handleCSkillChange($event)"
        [containsSkillLevel]="selectedCSkill && selectedCSkill.skillLevels"
        [skillLevel]="cSubSkill"
        [skillLevels]="cSubSkills"
        (skillLevelChange)="handleCSubSkillChange($event)"
        [subClearable]="false"
    ></skill-component>
    <skill-component
        [skills]="seals"
        skillLabel="Seal"
        [skillValue]="seal.name"
        [skillDesc]="seal.description"
        (skillChange)="handleSealChange($event)"
        [containsSkillLevel]="selectedSeal && selectedSeal.skillLevels"
        [skillLevel]="sealSub"
        [skillLevels]="sealSubs"
        (skillLevelChange)="handleSealSubChange($event)"
        [subClearable]="false"
    ></skill-component>
</div>
