/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';

.stat-component.ng-select.ng-select-single .ng-select-container {
    height: 40px;
}

.stat-component {
    min-width: 150px;
    padding: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}

label {
    font-size: small;
    min-width: 50px;
    min-height: 35px;
    padding-top: 7px;
}

.stat-name-label {
    font-weight: bold;
    text-align: left;
}

.stat-value-label {
    text-align: right;
}

.stat-desc-label {
    min-width: 300px;
    font-size: small;
    white-space: pre-wrap;
}
